.left-title {
    position: relative;
    width: 180px;
    height: 34px;
    padding-right: 20px;
    margin-right: 20px;
    background: #fff;
    border-left: 4px solid #0c64eb;
    border-radius: 4px 2px 2px 4px;
    margin-top: 10px;
}
.target_table td {
    word-break: break-all;
    white-space: normal !important;
}
.target_table{
    background: #fff;
    width: auto;
    min-width: 100%;
    max-width: 100%;
}
.bggreen {
    color: #24a21b;
}
.bgred {
    color: red;
}
.bgmax {
    background: #fbe3e3;
}
.time-td {
    overflow: hidden;
    white-space: normal !important;
    word-break: break-all;
}
.left-col {
    position: relative;
    left: 0;
    width: 180px;
}
.edit-btn {
    margin-bottom: 5px;
}
.left-text {
    padding: 0 5px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: #0c64eb;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-cell-text {
    padding: 4px 2px 4px 20px;
}

.cell {
    margin-top: 10px;
}

.cate-ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.cate-active {
    color: #0c64eb;
}